<form id="action-form" class="form-horizontal" role="form">
    <fieldset>
        <legend><strong>Stage</strong> setup</legend>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="normal-field" class="col-sm-3 control-label">Action ID</label>
                    <div class="col-sm-6">
                        <input type="text" id="action-id" name="action-id" class="form-control"
                               placeholder="Action ID">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="hint-field" class="col-sm-3 control-label">
                        Action Name
                    </label>
                    <div class="col-sm-6">
                        <input type="text" id="action-name" name="action-name" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="hint-field" class="col-sm-3 control-label">
                        Action Timeout
                    </label>
                    <div class="col-sm-6">
                        <input type="text" id="action-timeout" name="action-timeout" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="normal-field" class="col-sm-3 control-label">
                        Action Env
                    </label>
                    <div class="col-sm-6">
                        <input type="text" id="action-env" name="action-env" class="form-control"
                               placeholder="srcPath=./;buildPath=../">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="normal-field" class="col-sm-3 control-label">
                        Action Image
                    </label>
                    <div class="col-sm-6">
                        <input type="text" id="action-image" name="action-image" class="form-control" placeholder="repoName:repoTag">
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-7">
                <input type="hidden" id="uuid" name="uuid" class="form-control">
                <button type="button" class="btn btn-primary" onclick="saveData($('#action-form'),$('uuid'));">Save</button>
                <button type="button" class="btn btn-inverse">Cancel</button>
            </div>
        </div>
    </div>
</form>
