<form id="pipeline-form" class="form-horizontal" role="form">
    <fieldset>
        <legend><strong>Pipeline</strong> setup</legend>

        <div class="row">
            <div class="col-md-4">
                <h4>Import</h4>
                <div id="importDiv" class="json-editor">

                </div>
            </div>
            <div class="col-md-4">
                <h4>Config</h4>
                <div class="form-group">
                    <textarea class="form-control" rows="5"></textarea>
                </div>
                <button class="btn btn-default">Submit</button>
            </div>
            <div class="col-md-4">
                <h4>Output</h4>
            </div>
        </div>
    </fieldset>
   
</form>
