<form id="stage-form" class="form-horizontal" role="form">
    <fieldset>
        <legend><strong>Stage</strong> setup</legend>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="normal-field" class="col-sm-3 control-label">Stage ID</label>
                    <div class="col-sm-6">
                        <input type="text" id="stage-id" name="stage-id" class="form-control"
                               placeholder="Stage ID">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="hint-field" class="col-sm-3 control-label">
                        Stage Name
                    </label>
                    <div class="col-sm-6">
                        <input type="text" id="stage-name" name="stage-name" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="hint-field" class="col-sm-3 control-label">
                        Stage Timeout
                    </label>
                    <div class="col-sm-6">
                        <input type="text" id="stage-timeout" name="stage-timeout" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="normal-field" class="col-sm-3 control-label">
                        Stage Env
                    </label>
                    <div class="col-sm-6">
                        <input type="text" id="stage-env" name="stage-env" class="form-control"
                               placeholder="srcPath=./;buildPath=../">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="normal-field" class="col-sm-3 control-label">
                        Callback URL
                    </label>
                    <div class="col-sm-6">
                        <input type="text" id="stage-callback-url" name="stage-callback-url" class="form-control">
                    </div>
                </div>
            </div>
        </div>

    </fieldset>
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-7">
                <input type="hidden" id="uuid" name="uuid" class="form-control">
                <button type="button" class="btn btn-primary" onclick="saveData($('#stage-form'),$('uuid'));">Save</button>
                <button type="button" class="btn btn-inverse">Cancel</button>
            </div>
        </div>
    </div>
</form>
