<div id="pipelinedesign" class="hidden-div">
    <div class="h5 row" id="designerMenubar">
        <div class="col-md-3 row">
            <label class="col-md-3 control-label" for="pipeline-select">Pipeline</label>
            <div class="col-md-9" style="margin-top:-8px">
                <input type="text" id="selected_pipeline_name" class="form-control" disabled>
                <!-- <select id="pipeline-select" style="width:100%;">
                </select> -->
            </div>             
        </div>
        <div class="col-md-3 row">
            <label class="col-md-3 control-label" for="version-select">Version</label>
            <div class="col-md-9" style="margin-top:-8px">
                <input type="text" id="selected_pipeline_version" class="form-control" disabled>
                <!-- <select id="version-select" style="width:100%;">
                </select> -->
            </div> 
        </div> 
        <div class="col-md-6 row" style="margin-top:-18px">
            <div style="float:right" class="btn-toolbar">
                <button type="button" class="btn btn-primary newpipelineversion">
                    <i class="glyphicon glyphicon-floppy-disk" style="font-size:16px"></i>&nbsp;&nbsp;Save New Version
                </button>
                <button type="button" class="btn btn-inverse">
                    <i class="fa fa-history" style="font-size:16px"></i>&nbsp;&nbsp;Log History
                </button>
                <button type="button" class="btn btn-success newpipeline">
                    <i class="glyphicon glyphicon-plus" style="font-size:16px"></i>&nbsp;&nbsp;New PipeLine
                </button>
            </div>
        </div>         
    </div> 
    <div class="row">
        <div id="div-d3-main-svg" class="col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section>
                <header>
                    <h5>
                    </h5>
                </header>
                <div class="widget-body" id="pipeline-info-edit">
                </div>    
            </section>
        </div>
    </div>
</div>